@model IEnumerable<Project>
@{
    ViewData["Title"] = "List Projects";
}
<partial name="_Notification" />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Projects</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Project" asp-action="Create" class="btn btn-primary">
                Create new Project
            </a>
        </div>
    </div>
    <br /><br />

    <table class="table table-bordered table-stripped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Status
                </th>
                <th>
                    Priority
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var proj in Model)
            {
                <tr>
                    <td width="15%">
                        @proj.Name
                    </td>
                    <td width="20%">
                        @proj.StartDate
                    </td>
                    <td width="20%">
                        @proj.EndDate
                    </td>
                    <td width="10%">
                        @proj.Status
                    </td>
                    <td width="10%">
                        @proj.Priority
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Project" asp-action="Edit" asp-route-id="@proj.Id"
                            class="btn btn-primary mx-2">Edit</a>
                            <a asp-controller="Project" asp-action="Delete" asp-route-id="@proj.Id"
                            class="btn btn-danger mx-2">Delete</a>
                            <a asp-controller="Task" asp-action="Index" asp-route-id="@proj.Id"
                            class="btn btn-success mx-2">Tasks</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>