@model ViewModel_List
@{
    ViewData["Title"] = "List Tasks";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">The list of tasks for project @Model.Proj.Name</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Task" asp-action="Create" asp-route-id="@Model.Proj.Id" class="btn btn-primary">
                Create new Task
            </a>
        </div>
    </div>
    <br /><br />


    <table class="table table-bordered table-stripped" style="width:100%">
        <thead>
            <tr>
                <th>
                    The task
                </th>
                <th>
                    Description
                </th>
                <th>
                    Status
                </th>
                <th>
                    Priority
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Tasks)
            {
                @if (task.ProjectId != Model.Proj.Id)
                {
                    continue;
                }
                <tr>
                    <td width="15%">
                        @task.Name
                    </td>
                    <td width="20%">
                        @task.Description
                    </td>
                    <td width="20%">
                        @task.Status
                    </td>
                    <td width="10%">
                        @task.Priority
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Task" asp-action="Edit" asp-route-id="@task.Id"
                            class="btn btn-primary mx-2">Edit</a>
                            <a asp-controller="Task" asp-action="Delete" asp-route-id="@task.Id"
                            class="btn btn-danger mx-2">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Project" asp-action="Index" class="btn btn-secondary" style="width:150px">
        Back to Projects
    </a>
</div>